@model MenuItem
@{
    ViewData["Title"] = "Venue Details";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";

}
<div class="container mt-4">
    <div class="row">

        <div class="col-md-8">
            <h1 class="mb-3">@Model.Name</h1>
            <!-- Rating -->
            <div class="rating" data-rating="@Model.PopularityRate">
                <span class="text-warning">
                    @for (var i = 0; i < Model.PopularityRate; i++)
                    {
                        <i class="fas fa-star star"></i>
                    }
                    @if (Model.PopularityRate < 5)
                    {
                        for (var j = Model.PopularityRate; j < 5; j++)
                        {
                            <i class="far fa-star star"></i>
                        }
                    }
                </span>
                <span class="badge bg-secondary ms-2">@Model.PopularityRate</span>
            </div>
            <p class="mt-3"><strong>Price: </strong>@Model.Price</p>
            <p class="mt-3"><strong>Description: </strong>@Model.Description</p>

        </div>
    </div>


</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
}
